.col1{
	background-color: red;
}

.col2{
	background-color: blue;
}
.col3{
	background-color: orange;
}
.col4{
	background-color: green; 
}

.col1{
	background-color: yellow;
}
.col2{
	background-color: pink;
}